/* Write styles here */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.navbar {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  gap: 10px;
  margin-bottom: 25px;
}

a {
  color: white;
  text-decoration: none;
}

span {
  margin: 0px 10px;
}

.container {
  margin: 2rem;
  padding: 1rem;
}

.title {
  font-size: 5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

h2 {
  margin-left: 1rem;
}

#login-btn {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  width: 15vw;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: larger;
}

#signup-btn {
  background-color: white;
  color: black;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  width: 15vw;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: larger;
}

img {
  width: 610px;
  float: right;
}
