@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.navbar {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  gap: 10px;
  margin-bottom: 25px;
}

a {
  color: white;
  text-decoration: none;
}

span {
  margin: 0px 10px;
}

.login-container {
  margin: 1rem;
  padding: 1rem;
}

input {
  display: block;
  width: 90vw;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#login-btn {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 15vw;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: larger;
  margin-left: 1rem;
}

.login-text{
    margin-left: 1rem;
}

#err-msg{
    display: none;
  }
